<% provide(:title, 'Poofer') %>
<div class="jumbotron">
  <h1>Poofer</h1>
  <h2>POszukuję. OFERuję. </h2>
  <h3>Idealne połączenie fachowców i potrzebujących.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 well" name="Poszukuje">
      <h2>Poszukuję</h2>
      <p>Potrzebujesz pomocy? Potrzebujesz fachowca?</p>
      <p>Znajdź oferentów</p>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Szukaj fachowca">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Daj ogłoszenie</button>
      </span>
      </div><!-- /input-group -->
    </div>
    <div class="col-md-6 well" name="Oferuje">
      <h2>Oferuję</h2>
      <p>Świadczysz usługi? Chciałbyś dorobić?</p>
      <p>Znajdź potrzebujących</p>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Szukaj potrzebujących">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          <button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Daj ogłoszenie</button>
      </span>
      </div><!-- /input-group -->
    </div>
  </div>
</div>