<footer class="footer">
  <small>
    Poofer (c)2014 by Dzambala
  </small>
  <nav>
    <ul>
      <li><%= link_to "O nas", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>